* {
    padding: 0;
    margin: 0;
}

.container {
    background-color: orange;
    height: 100vh;
    display: flex;
    flex-direction: column;
}


header {
    background-color: blue;
    flex-basis: 20%;
}


main{
    background-color: brown;
    flex-basis: 70%;
    display: flex;

}

nav {
    background-color: yellow;
    flex-basis: 25%;
    flex-grow: 2;
}

article {
    background-color: blueviolet;
    flex-basis: 50%;
    flex-grow: 4;
}

aside {

    background-color: green;
    flex-basis: 25%;
  
}

footer {
    background-color: gray;
    flex-basis: 10%;
}

@media all and (max-width:600px) {

    main{
        display: flex;
        flex-direction: column;
    }
    
}